.page-container
  .title-container
     h1 You Scanned Me!
  .entry-content
    p
      | Thanks for invading my personal space and exposing me to your cellular radiation!
    img(src="https://i.pinimg.com/originals/68/7c/ea/687cea8aabd579611223b9f6332f1cbb.gif", alt="Bleh").center
  